.App {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.App-header {
  background-color: #282c34;
  color: white;
}

.questions-card {
  width: 365px;
  height: 400px;
  margin: 10px 0px 10px 0px;
}

.results-card {
  width: 365px;
  height: 100px;
}
