.App {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.App-header {
  background-color: #282c34;
  color: white;
}

.questions-card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  width: 365px;
  height: 400px;
  margin: 10px 0px 10px 0px;
  padding: 0px 5px 5px 5px;
}

.card-actions {
  display: flex;
  justify-content: space-between;
  height: 100px;
  width: 365px;
}

.results-card {
  width: 365px;
  height: 100px;
}

.footer {
  background-color: #282c34;
  color: white;
  text-align: center;
  margin-top: 10px;
}
